<div class="text-center">
<%= form_with url: "/sales/search_products", method: :get, data: { turbo_frame: "product-results", controller: "search", action: "input->search#search" } do %>
  <%= hidden_field_tag :sale_id, @sale.id %> 
  <div class="form-group">
    <%= label_tag :search, I18n.t("product_solds.label.search"), class: "text-start" %>
    <%= text_field_tag :search, nil, id: "product-search", class: "form-control", placeholder: I18n.t("product_solds.label.search_by"), autocomplete: "off", data: { search_target: "input" } %>
  </div>
<% end %>
<%= turbo_frame_tag "product-results" do %>
<% end %>

<%= link_to I18n.t("buttons.end"), sale_path(@sale), class: "btn btn-success mt-4" %>
</div>