<div class=" text-center mt-5">
    <h3><%= I18n.t("product_solds.attributes.products")%></h3>
    <% if product_solds.any? %>
    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th><%= I18n.t("products.product")%></th>
            <th><%= I18n.t("sizes.size")%></th>
            <th><%= I18n.t("product_solds.attributes.quantity")%></th>
            <th><%= I18n.t("product_solds.attributes.sell_price")%></th>
        </tr>
        </thead>
        <tbody>
        <% product_solds.each do |product_sold| %>
            <tr>
            <td><%= product_sold.product.name %></td>
            <td><%= product_sold.size.size %></td>
            <td><%= product_sold.quantity %></td>
            <td><%= number_to_currency(product_sold.total) %></td>
            </tr>
        <% end %>
        </tbody>
    </table>
    <% else %>
    <p><%= I18n.t("product_solds.messages.empty")%></p>
    <% end %>
</div>
