
<% content_for :title, I18n.t("product_solds.add") %>
<div class="container">
  <h1><%= I18n.t("product_solds.add")%></h1>
  <div style="width: 60%; justify-content: center">
    <%= render "form", product_sold: @product_sold %>
  </div>

  <br>

  <%= turbo_frame_tag "product-solds-table" do %> 
    <%= render "product_solds_table", product_solds: @sale.product_solds %> 
  <% end %>

  <div>
    <p class="text-primary-emphasis text-start"><%= I18n.t("product_solds.attributes.total")%> <%= number_to_currency(@sale.total_price)%></p>
  </div>
  <div class="mt-4">
    <%= link_to I18n.t("buttons.back_to_sales"), sales_path %>
  </div>

</div>

<script>
document.addEventListener("DOMContentLoaded", () => {
  document.addEventListener("click", event => {
    if (event.target.matches("input[type='submit'][data-product-id]")) {
      event.preventDefault();

      const button = event.target;
      const productId = button.dataset.productId;
      const sizeSelect = document.querySelector(`select[data-size-select-id='${productId}']`);
      const quantityInput = document.querySelector(`input[data-quantity-id='${productId}']`);

      const sizeField = document.querySelector(`#size_field_${productId}`);
      const quantityField = document.querySelector(`#quantity_field_${productId}`);

      sizeField.value = sizeSelect.value;
      quantityField.value = quantityInput.value;

      button.closest("form").submit();
    }
  });
});
</script>
