<%= form_with(model: @user) do |form| %>
  <div class="d-flex justify-content-center mt-5 position-absolute" style="z-index: 1; top: 50px; left: 50%; transform: translateX(-50%);">
    <% if @user.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show d-inline-block" role="alert" id="alert-message">
        <%= @user.errors.full_messages.to_sentence %>
      </div>
    <% end %>
  </div>

  <div class="form-group">
    <%= form.label :username, I18n.t("users.attribute.username"), class: "form-label mt-4" %>
    <%= form.text_field :username, class: "form-control", id: "username" %>
    <small id="usernameHelp" class="form-text text-muted"><%= I18n.t("required")%></small>
  </div>

  <div class="form-group">
    <%= form.label :email_address, I18n.t("users.attribute.email"), class: "form-label mt-4" %>
    <%= form.email_field :email_address, class: "form-control", id: "email_address" %>
    <small id="emailHelp" class="form-text text-muted"><%= I18n.t("required")%></small>
  </div>

  <div class="form-group">
    <%= form.label :phone, I18n.t("users.attribute.phone"), class: "form-label mt-4" %>
    <%= form.text_field :phone, class: "form-control", id: "phone" %>
  </div>

  <div class="form-group">
    <%= form.label :entry_date, I18n.t("users.attribute.entry_date"), class: "form-label mt-4" %>
    <%= form.date_field :entry_date, class: "form-control", id: "entry_date" %>
  </div>

  <div class="form-group">
    <%= form.label :role_id, I18n.t("users.attribute.role"), class: "form-label mt-4" %>
    <%= form.collection_select :role_id, @available_roles, :id, :name, { prompt: "Seleccione un rol" }, { class: "form-control", id: "role_id" } %>  
  </div>

  <div class="mt-4 text-center">
    <%= form.submit (@user.persisted? ? I18n.t("users.buttons.edit") : I18n.t("users.buttons.create")), class: "btn btn-primary" %>
  </div>
<% end %>