
<div class="container pt-5 pb-5">
  <% content_for :title, I18n.t("users.users") %>

  <h1 class="text-center mb-5"><%= I18n.t("users.users") %></h1>
 <% if @users.empty? %>
    <p class="text-center mb-4"><%= I18n.t("users.inactive")%></p>
  <% else %>
  <table class="table table-bordered table-striped table-hover mb-5">
    <thead>
      <tr>
        <th><%= I18n.t("users.attribute.username") %></th>
        <th><%= I18n.t("users.attribute.email") %></th>
        <th><%= I18n.t("users.attribute.phone") %></th>
        <th><%= I18n.t("sales.sales") %></th>
        <th><%= I18n.t("users.attribute.entry_date") %></th>
        <th><%= I18n.t("users.attribute.role") %></th>
        <th><%= I18n.t("users.attribute.active") %></th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= link_to user.username, user_path(user), class: "btn btn-link", style: "padding: 0; margin: 0;"%></td>
          <td><%= user.email_address %></td>
          <td class="text-end"><%= user.phone.present? ? user.phone : "-" %></td>
          <td class="text-end"><%= user.sales.count %></td>
          <td><%= user.entry_date.strftime('%d/%m/%Y') %></td>
          <td><%= user.role.name %></td>
          <td class="text-center">
                <% if user.active %>
                    <span class="text-success">&#10004;</span> 
                <% else %>
                    <span class="text-danger">&#10008;</span> 
                <% end %>
            </td>
        </tr>
      
      <% end %>
    </tbody>
  </table>
  <% end %>

  <%= link_to I18n.t("users.buttons.add"), new_user_path, class:"btn btn-lg btn-primary" %>

  <div class="mt-4">
  <%= link_to I18n.t("buttons.back_to_dashboard"), dashboard_index_path %>
</div>
</div>
