
<div class="container pt-5 pb-5">
  <h1 class="text-center mb-5">Productos Disponibles</h1>
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-4 mb-4">
        <div class="card h-100">
          <h4 class="card-header"><%= product.name %></h4>
          <% if product.images.attached? %>
            <%= image_tag product.images.first, class: "card-img-top", alt: "Imagen de #{product.name}" %>
          <% else %>
            <%= image_tag "https://via.placeholder.com/150", class: "card-img-top", alt: "Imagen de #{product.name}" %>
          <% end %>
          <%= link_to shop_product_path(product), class: "text-decoration-none" do %>
            <div class="card-body">
              <p class="card-text">Precio: <%= number_to_currency(product.unit_price) %></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= product.description %></p>
              <li class="list-group-item">Stock total: <%= product.stock_total %></li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
