<%= form_with(model: size) do |form| %>
  <% if @size.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show d-inline-block w-auto text-center" role="alert" id="error-message">
      <%= @size.errors[:size].to_sentence %>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :size, I18n.t("sizes.size"), for:"size", class: "form-label mt-4" %>
    <%= form.text_field :size, class:"form-control", id:"name" %>
  </div>

  <div class="mt-4 text-center">
    <%= form.submit (size.persisted? ? I18n.t("sizes.update") : I18n.t("sizes.create")), class: "btn btn-primary" %>
  </div>
<% end %>
 