<div id="<%= dom_id color %>">
  <h4><%= I18n.t("colors.attributes.name") %></h4>
  <p><%= color.name %></p>

  <h4><%= I18n.t("colors.attributes.code") %></h4>
  <div style="display: flex; align-items: center;">
    <p class="mb-0 me-2"><%= color.code %></p>
    <div style="width: 30px; height: 30px; border-radius: 50%; background-color: <%= color.code %>;"></div>
  </div>

  <h4 class="text-center mt-5"><%= I18n.t("colors.attributes.products") %></h2>
  <% if color.products.any? %>
    <ul>
      <% color.products.each do |product| %>
        <li><%= product.name %></li>
      <% end %>
    </ul>
  <% else %>
    <p><%= I18n.t("colors.messages.products_empty") %></p>
  <% end %>
</div>