<%= form_with(model: color) do |form| %>
  <% if color.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(color.errors.count, "error") %> prohibited this color from being saved:</h2>

      <ul>
        <% color.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "Nombre", for:"name", class: "form-label mt-4" %>
    <%= form.text_field :name, class:"form-control", id:"name" %>
  </div>

  <div class="form-group">
    <%= form.label :code, "Color", for: "code", class: "form-label mt-4" %>
    <%= form.color_field :code, class: "form-control", id: "code", value: color.code %>
  </div>

  <div class="mt-4 text-center">
    <%= form.submit (color.persisted? ? "Actualizar color" : "Crear color"), class: "btn btn-primary" %>
  </div>
<% end %>
 