<%= form_with(model: category) do |form| %>
  <% if category.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

      <ul>
        <% category.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, I18n.t("categories.attributes.name"), for:"name", class: "form-label mt-4" %>
    <%= form.text_field :name, class:"form-control", id:"name" %>
  </div>

  <div class="form-group">
    <%= form.label :size_ids, I18n.t("categories.attributes.sizes"), class: "form-label mt-4" %>
    <div class="btn-group flex-wrap checkbox-group" role="group" aria-label="Talles">
      <%= form.collection_check_boxes :size_ids, Size.numeric_sizes, :id, :size do |b| %>
        <div class="form-check form-check-inline">
          <%= b.check_box(class: "btn-check", id: "size_#{b.object.id}") %>
          <label class="btn btn-outline-primary" for="size_<%= b.object.id %>">
            <%= b.object.size %>
          </label>
        </div>
      <% end %>

      <span class="w-100"></span>


      <%= form.collection_check_boxes :size_ids, Size.letter_sizes, :id, :size do |b| %>
        <div class="form-check form-check-inline">
          <%= b.check_box(class: "btn-check", id: "size_#{b.object.id}") %>
          <label class="btn btn-outline-primary" for="size_<%= b.object.id %>">
            <%= b.object.size %>
          </label>
        </div>
      <% end %>
    </div>
  </div>
  <% if category.persisted?%>
    <small id="sizeHel" class="form-text text-muted d-block mb-4"><%=I18n.t("categories.messages.modify_sizes")%></small>
  <% end %>

  <div class="mt-4 text-center">
    <%= form.submit (category.persisted? ? I18n.t("categories.update") : I18n.t("categories.create")), class: "btn btn-primary" %>
  </div>
<% end %> 
 