<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Unit price:</strong>
    <%= product.unit_price %>
  </p>

  <p>
    <strong>Available stock:</strong>
    <%= product.available_stock %>
  </p>

  <p>
    <strong>Entry date:</strong>
    <%= product.entry_date %>
  </p>

  <p>
    <strong>Deactivation date:</strong>
    <%= product.deactivation_date %>
  </p>

</div>
