<div id="<%= dom_id @sale %>">
  <h4 class="mt-3"><%= I18n.t("sales.attributes.client") %></h4>
  <p><%= @sale.client %></p>

  <h4 class="mt-3"><%= I18n.t("sales.attributes.salesman") %></h4>
  <% if @sale.salesman.present?%>    
    <p><%= @sale.salesman.username %> </p>
  <% else %>
    <p><<%= I18n.t("sales.messages.empty_salesman") %>></p>
  <% end %>

  <h4 class="mt-3"><%= I18n.t("sales.labels.sale_date") %></h4>
  <p><%= @sale.sale_date.strftime("%d/%m/%Y %H:%M") if @sale.sale_date.present? %> </p>

  <h4><%= I18n.t("sales.attributes.total_price") %></h4>
  <p><%= number_to_currency(@sale.total_price) %></p>

  <% if @sale.cancelled %>
    <h4 class="mt-3"><%= I18n.t("sales.labels.sale_state") %></h4>
    <p><%= I18n.t("sales.messages.cancelled") %></p>

    <h4 class="mt-3"><%= I18n.t("sales.attributes.cancel_date") %></h4>
    <p><%= @sale.cancel_date.strftime("%d/%m/%Y %H:%M") %> </p>
  <% end %>

  <%= turbo_frame_tag "product-solds-table" do %>
    <%= render "product_solds/product_solds_table", product_solds: @sale.product_solds %>
  <% end %>
</div>
