<div class="container pt-5 pb-5">
  <h1 class="text-center mb-5"><%I18n.t("sales.historic.title")%></h1>
  <% if @assigned_sales.empty? %>
    <p class="text-center mb-4"><%I18n.t("sales.historic.message")%></p>
  <% else %>
    <table class="table table-bordered table-striped table-hover mb-5">
      <thead>
        <tr>
          <th><%I18n.t("sales.atributes.number")%></th>
          <th><%I18n.t("sales.atributes.total_products")%></th>
          <th><%I18n.t("sales.atributes.total")%></th>
          <th><%I18n.t("sales.atributes.client")%></th>
          <th><%I18n.t("sales.atributes.salesman")%></th>
          <th><%I18n.t("sales.atributes.date")%></th>
          <th><%I18n.t("sales.atributes.time")%></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @assigned_sales.each do |sale| %>
          <tr>
            <td><%= link_to sale.id, sale_path(sale) %></td>
            <td class="text-end"><%= sale.product_solds.count %></td>
            <td class="text-end"><%= number_to_currency(sale.total_price) %></td>
            <td><%= sale.client %></td>
            <td><%= sale.salesman.username if sale.salesman.present? %></td>
            <td><%= sale.sale_date.strftime('%d/%m/%Y') if sale.sale_date.present? %></td>
            <td><%= sale.sale_date.strftime('%H:%M') if sale.sale_date.present? %></td>
            <td style="padding-right: 0.01px">
              <%= form_with model: sale, url: sale_path(sale), method: :delete, local: true do |form| %>
                <%= form.submit I18n.t("sales.cancel"), class: "btn btn-outline-danger btn-sm", data: { confirm: "¿Estás seguro de que deseas cancelar esta venta?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <%= link_to I18n.t("sales.add"), new_sale_path, class: "btn btn-primary" %>

  <h1 class="text-center mb-5 mt-5"><%I18n.t("sales.unassigned.title")%></h1>
  <% if @unassigned_sales.empty? %>
    <p class="text-center mb-4"><%I18n.t("sales.unassigned.message")%></p>
  <% else %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%I18n.t("sales.atributes.number")%></th>
          <th><%I18n.t("sales.atributes.total_products")%></th>
          <th><%I18n.t("sales.atributes.total")%></th>
          <th><%I18n.t("sales.atributes.client")%></th>
          <th><%I18n.t("sales.atributes.date")%></th>
          <th><%I18n.t("sales.atributes.time")%></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @unassigned_sales.each do |sale| %>
          <tr>
            <td><%= link_to sale.id, sale_path(sale) %></td>
            <td class="text-end"><%= sale.product_solds.count %></td>
            <td class="text-end"><%= number_to_currency(sale.total_price) %></td>
            <td><%= sale.client %></td>
            <td><%= sale.sale_date.strftime('%d/%m/%Y') if sale.sale_date.present? %></td>
            <td><%= sale.sale_date.strftime('%H:%M') if sale.sale_date.present? %></td>
            <td style="padding-right: 0.01px">
              <%= form_with model: sale, url: assign_salesman_sale_path(sale), method: :patch, local: true do |form| %>
                <%= form.hidden_field :salesman_id, value: Current.user.id %>
                <%= form.submit I18n.t("sales.assign"), class: "btn btn-outline-primary btn-sm" %>
              <% end %>              
            </td>
            <td>
              <%= form_with model: sale, url: sale_path(sale), method: :delete, local: true do |form| %>
                <%= form.submit I18n.t("sales.cancel"), class: "btn btn-outline-danger btn-sm", data: { confirm: "¿Estás seguro de que deseas cancelar esta venta?" } %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  
  <h1 class="text-center mb-5 mt-5"><%I18n.t("sales.cancelled.title")%></h1>
  <% if @cancelled_sales.empty? %>
    <p class="text-center mb-4"><%I18n.t("sales.cancelled.message")%></p>
  <% else %>
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th><%I18n.t("sales.atributes.number")%></th>
          <th><%I18n.t("sales.atributes.total_products")%></th>
          <th><%I18n.t("sales.atributes.total")%></th>
          <th><%I18n.t("sales.atributes.client")%></th>
          <th><%I18n.t("sales.atributes.salesman")%></th>
          <th><%I18n.t("sales.atributes.date")%></th>
          <th><%I18n.t("sales.atributes.time")%></th>
          <th><%I18n.t("sales.atributes.cancel_date")%></th>
        </tr>
      </thead>
      <tbody>
        <% @cancelled_sales.each do |sale| %>
          <tr>
            <td><%= link_to sale.id, sale_path(sale) %></td>
            <td class="text-end"><%= sale.product_solds.count %></td>
            <td class="text-end"><%= number_to_currency(sale.total_price) %></td>
            <td><%= sale.client %></td>
            <td><%= sale.salesman.username if sale.salesman.present? %></td>
            <td><%= sale.sale_date.strftime('%d/%m/%Y') if sale.sale_date.present? %></td>
            <td><%= sale.sale_date.strftime('%H:%M') if sale.sale_date.present? %></td>
            <td><%= sale.cancel_date.strftime('%d/%m/%Y %H:%M') if sale.cancel_date.present? %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <div class="mt-4">
    <%= link_to I18n.t("buttons.back_to_dashboard"), dashboard_index_path, class:"btn btn-link" %>
  </div>
</div>
