<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Trabajo Final" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
        <!-- Bootstrap 5 CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Bootstrap 5 JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <nav class="navbar navbar-expand-lg bg-dark fixed-top" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" >Avivas</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor02">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" href="<%= root_path %>">Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <%= link_to 'Productos', shop_products_path, class: 'nav-link' %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Separated link</a>
          </div>
        </li>
      </ul>
      <div class="d-flex">
        <% if authenticated? %>
          <!-- Dropdown para usuario autenticado -->
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
              Hola <%= Current.user.username %>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item">Mi Perfil</a></li>
              <li><%= link_to 'Dashboard', dashboard_index_path, class: 'dropdown-item' %></li>
              <div class="dropdown-divider"></div>
              <li>
                <%= link_to 'Cerrar Sesion', session_path, data: { turbo_method: :delete }, class: 'dropdown-item' %>
              </li>
            </ul>
          </div>
        <% else %>
          <!-- Botón para iniciar sesión -->
          <button type="button" class="btn btn-outline-secondary text-dark"><%= link_to 'Iniciar Sesión', new_session_path %></button>
        <% end %>
      </div>
    </div>
  </div>
</nav>

  <body>

    <div class="main-content">
      <div class="text-center mt-5 position-absolute w-100" style="z-index: 1; top: 25px;">
        <% if notice %>
          <div class="alert alert-success alert-dismissible fade show d-inline-block w-auto text-center" role="alert" id="notice-message">
            <%= notice %>
          </div>
        <% end %>
        <% if alert %>
          <div class="alert alert-warning alert-dismissible fade show d-inline-block w-auto text-center" role="alert" id="alert-message">
            <%= alert %>
          </div>
        <% end %>
      </div>
    <%= yield %>
    </div>


  </body>
  <footer class="bg-dark fixed-bottom text-center text-white d-flex align-items-center justify-content-center py-1">    
    <p class="fs-6">Avivas | Todos los derechos reservados | Luciano Ganzero</p>
  </footer>
</html>
